<div id="criteria1" class="center" style="margin-top: 5%;">
	<form id="simple-form" ng-submit="addStudent()">
		<label> First Name: </label><br/>
		<input id="first-name" ng-model="newStudent.first_name" type="text"> </input><br/>
		<label> Last Name: </label><br/>
		<input id="last-name" ng-model="newStudent.last_name" type="text"> </input><br/><br/>
		<input id="submit" type="submit" value="Find My Matches" class="button btn btn-large btn-primary"></input>                  
	</form>
<!-- 	<pre>form = {{newStudent | json}}</pre> -->
</div>