<div>
<div class="search">
	<h1>Schools</h1>
	
	<form id="criteria1" class="center">
		<label>Search Schools</label>
		<input type="text" ng-model="name" ><br/><br/>
	
		<label>Sort by:
			<select ng-model="orderSchools">
				<option value="name" selected>Name</option>
				<option value="email">Email</option>
			</select>
		</label>
		<br>
		<label>
			<input type="radio" ng-model="direction" name="direction" checked>
			Ascending
		</label>
		<label>	
			<input type="radio" ng-model="direction" name="direction" value="reverse" >
			Descending
		</label>
		<!-- <p>&nbsp;	There are {{schools.length}} items in schools.json file</p> -->
	</form>
	<br/>
</div>

	<article ng-repeat="school in schools | filter:name | orderBy:orderSchools:direction" style="margin:10px;">
	<div class="schoolsBlock">
	    <div class="pure-u-1-3"><p><span>
				<img src="{{ school.picture }}" style="width:304px;height:228px"/> 
			</span></p>
		</div>
		<div class="pure-u-1-3"><p><br/><h3>{{school.name}}</h3></p><p>Drinking vinegar lomo meggings, Marfa post-ironic normcore Tonx try-hard butcher put a bird on it kogi brunch. Cliche Neutra tattooed, +1 kogi trust fund pop-up. Wes Anderson brunch kale chips, narwhal shabby chic craft beer Portland. Bushwick letterpress Godard bitters, cliche meh keytar fixie ennui Carles Pitchfork pop-up.</p>
		</div>
		</div><br/>
	</article>
</div>