
<div class="studentProfile" ng-model="students">
	<div>
		<h4 class="studentName" style="color: red;"> 
			Welcome {{ students[whichStudent].first_name }} {{ students[whichStudent].last_name }} 
		</h4>
	</div><br>

	<h3 class="center" style="color: red;">
		Congratulations, you match with the following schools!
	</h3>


	<form id="criteria1" class="center" ng-submit="updateStudent(editStudents[whichStudent])">
		<label> First Name: </label>
		<input id="first-name" ng-model="editStudents[whichStudent].first_name" type="text"> </input>
		<label> Last Name: </label>
		<input id="last-name" ng-model="editStudents[whichStudent].last_name" type="text"> </input>
		<br/><br/>
		<input id="submit" type="submit" value="Update Info" class="btn btn-large btn-primary"></input>                  
	</form>

<div class="schools">
<br/>
	<article ng-repeat="school in schools">
	<div class="schoolsBlock">
	    <div class="pure-u-1-3"><p><span>
				<img src="{{ school.picture }}" style="width:304px;height:228px"/> 
			</span></p>
		</div>
		<div class="pure-u-1-3"><p><br/><h3>{{school.name}}</h3></p><p>Drinking vinegar lomo meggings, Marfa post-ironic normcore Tonx try-hard butcher put a bird on it kogi brunch. Cliche Neutra tattooed, +1 kogi trust fund pop-up. Wes Anderson brunch kale chips, narwhal shabby chic craft beer Portland. Bushwick letterpress Godard bitters, cliche meh keytar fixie ennui Carles Pitchfork pop-up.</p>
		</div>
		</div><br/>
	</article>
</div>


<!-- <div class="schools">
	<article ng-repeat="school in schools">
		<h3>{{school.name}}</h3> 
		<span>
			<img src="{{ school.picture }}" style="width:304px;height:228px"/> 
		</span>
	</article>
</div> -->
<!-- 	<a href="index.html#/students" class="link"> << Go Back to Search </a> -->
<!-- </div>
 -->