<!DOCTYPE html>
<html ng-app="iucApp">
<head>
	<title>IUC - My Account</title>

	<!-- Links -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<!--End Links-->

	<!-- Our Files-->
	<script type="text/javascript" src="assets/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
	<!-- End Files -->
</head>
<body>

	<!-- Full Page Section-->
	<div ng-controller="iucCtrl" style="margin-top:30px;">
	    <div class="full" id="account" style="display:block">
	    	<div class="page-wrap">
		    	<div class="navbar">
		    		<a href="index.html"><img id="logo" src="assets/img/logo.png"></img></a>
		    		<span id="navlinks">
						<span><a href="account.html">Profile</a></span>
						<span>|</span>
						<span><a href="#">Schools</a></span>
						<span>|</span>
						<span><a href="#">Upgrade</a></span>
					</span>
		    	</div>
			 
		    	<pre> Inside iuc controller: {{test}} </pre>

				<div class="content" ng-controller="fetchCtrl">
					<select ng-model="method">
						<option> GET </option>
						<option> JSONP </option>
					</select>

					<input type="text" ng-model="url" size="80"/>
					
					<button id="fetchbtn" ng-click="fetch()">fetch</button><br>
					
					<button id="samplegetbtn" ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>


					<button id="samplejsonpbtn" ng-click="updateModel('GET','https://tech-profiles.herokuapp.com/profiles.json')">
						Sample JSONP
					</button>

					<button id="samplejsonpbtn" ng-click="updateModel('JSONP','https://angularjs.org/greet.php?callback=JSON_CALLBACK&name=Super%20Hero')">
						Sample JSONP
					</button>

					<pre> http status code: {{status}} </pre>
					<pre> http response data: {{data}} </pre>
					<div>
						<ul class="font-size-twenty" ng-repeat="thing in data">
							<li>
								{{ thing }}
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>
	</div>
	<!-- End Full Page -->

</body>
</html>