/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}



h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    /*line-height: 1.6em;*/
}

/******************* Banner Picture on first page********************/
.banner {
    background: transparent url('http://www.stat.harvard.edu/SRC2012/library0.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.stat.harvard.edu/SRC2012/library0.jpg', sizingMethod='scale');
    height: 500px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    }
/*************** END Banner Picture on first page********************/

/********* 1st Page International Unversity Connection Banner *******/
.splash-head {
    font-size: 40px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 3px;
    line-height: 1em;
    background-color: white;
    opacity: .6; 
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 85%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}
/****** End 1st Page International Unversity Connection Banner*/

/*************Button on first page**********************/
.schoolButton{
    background: #08639C;
    color: white;
    font-size: 125%;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

#firstButton{
    margin: auto;
    position: absolute;
    top: 350px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
/*************Students Profile page**********************/
.schools {
    margin-left: 5%;
    margin-right: 5%;
   
}

.schoolsBlock {
    border-style: solid;
    border-radius: 5px;
     border-left: 1%;
}


/*************End of Students Profile page**********************/


/*************End Button on first page**********************/
/** -- Layout Styles --*/
.l-content {
    margin: 0 2em;
    margin-bottom: 4em;
    
}

.l-box {
    padding: 0.5em 2em;
}

/** -- MENU STYLES Make the menu have a very faint box-shadow.*/
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.studentTitle {
    font-family: 'Bree Serif', serif;
}

.studentName {
    margin-left: 80%;
    margin-top: -3%;
}

.information-head {
    color: black;
    font-weight: 500;

}

.footer {
    background: #08639C;
    color: white;
    text-align: center;
}
.footer a {
    color: #ddd;
}

.footer{
    width:100%;
    position:fixed;
    bottom:0;

}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {
    .banner-head {
        font-size: 4em;
    }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 480px) {
    .banner-head {
        font-size: 3em;
    }
}

.searchTable {
    margin-top: 5%;
}