/* Helper Classes */


.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5%;
}
/* End Helper Classes */

#question {
	background-color: white;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	/*font-size: 1.5em;*/
	margin-top: 20%;
}

input {
	width: 100%;
}

.schoolProfile {
	margin: 50px;
}

#signup-title {
	padding-top: 40px;
	font-size: 2em;
	
}

.banner2 {
    background: transparent url('http://www.stat.harvard.edu/SRC2012/library0.jpg') 0 0 no-repeat fixed;
    text-align: center;
   
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.stat.harvard.edu/SRC2012/library0.jpg', sizingMethod='scale');
    height: auto;
    width: 100%;
  
   
}

#criteria1 {
	background-color: #3EADFF;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	/*font-size: 1.5em;*/
	margin-top: 60px;
}

.button {
	background-color: #E03843;
}

@media all and (max-width: 1000px) {
	#criteria1 {
		width: 300px;
	}
}